@use "sass:color";

/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_A8s52Hs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_DMs5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4s6FospT4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4s6VospT4.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4s51os.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x7T2kn3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3nWuZEC.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3jWuZEC.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-vo3lOc.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N9vo3lOc.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-Po3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* -------------- */
/* RESET          */
/* -------------- */

$clr-dark: hsla(230deg, 35%, 7%, 1);
$clr-light: hsla(231deg, 77%, 90%, 1);
$clr-white: hsla(0deg, 0%, 100%, 1);

:root {
    --clr-dark: #{$clr-dark};
    --clr-light: #{$clr-light};
    --clr-white: #{$clr-white};
    --clr-white-05: #{color.adjust($clr-white, $alpha: -0.5)};

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 768px) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 1440px) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* https://piccalil.li/blog/a-modern-css-reset/ */


*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: var(--clr-light);
    line-height: 1.5;

    display: grid;
    grid-template-rows: min-content 1fr;
}

main {
    min-height: 90vh;
    display: grid;
    grid-template-rows: 1fr;
}

img,
picture {
    max-width: 100%;
    display: block;
}

[hidden] {
    display: none !important;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */


.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.justify-space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.inline-flex {
    display: inline-flex;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.flow>*:where(:not(:last-child)) {
    margin-bottom: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: 0.75rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.fade-out {
    opacity: 0;
    transition: 0.25s opacity ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: var(--clr-white);
    color: var(--clr-dark);
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 0.25s ease-in;
}

.skip-to-content:focus-visible {
    transform: translateY(0);
}

/* colors */

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-accent {
    background-color: var(--clr-light);
}

.bg-white {
    background-color: var(--clr-white);
}

.text-dark {
    color: var(--clr-dark);
}

.text-accent {
    color: var(--clr-light);
}

.text-white {
    color: var(--clr-white);
}

.text-white-alpha {
    color: var(--clr-white-05);
}


/* typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: color.adjust($clr-white, $alpha: 0.2);
}

/* ---------- */
/* Components */
/* ---------- */

.large-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: color.adjust($clr-white, $alpha: -0.1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 300ms linear;
}

.large-button:hover::after,
.large-button:focus::after,
.large-button.hover::after {
    opacity: .2;
    transform: scale(1.8);
}

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 4vw, 2rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: color.adjust($clr-dark, $alpha: -0.05);
    transition: transform 500ms ease-in-out;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-right: .5em;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background-color: color.adjust($clr-white, $alpha: -0.95);
        backdrop-filter: blur(1rem);
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 20%;
        list-style: none;
        padding: 10rem 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
    }

    .primary-navigation.underline-indicators>.active {
        border: 0;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        background-image: url("/space-travel/assets/shared/icon-hamburger.svg");
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("/space-travel/assets/shared/icon-close.svg");
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

@media (min-width: 768px) {
    .primary-navigation {
        padding-inline: clamp(3rem, 5vw, 7rem);
    }
}

@media (min-width: 768px) and (max-width: 44.999em) {
    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .primary-navigation {
        padding-inline: 3rem;
    }

    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 1440px) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: color.adjust($clr-white, $alpha: -0.75);
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-navigation {
        margin-block: 2rem;
        padding-right: 15rem;
    }
}


.underline-indicators>* {
    cursor: pointer;
    padding-block: var(--underline-gap, 0.5rem);
    border: 0;
    border-bottom: .2rem solid color.adjust($clr-white, $alpha: -1);
    background-color: transparent;
    transition: border-color 400ms ease-in-out;

}

.underline-indicators>*:focus {
    border-color: color.adjust($clr-white, $alpha: -0.5);
}

@media (hover: hover) {
    .underline-indicators>*:hover {
        border-color: color.adjust($clr-white, $alpha: -0.5);
    }
}

@media (min-width: 768px) {

    .underline-indicators>.active,
    .underline-indicators>[aria-selected="true"] {
        color: var(--clr-white);
        border-color: var(--clr-white);
    }
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators>* {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: color.adjust($clr-white, $alpha: -0.75);
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
    background-color: color.adjust($clr-white, $alpha: -0.5);
}

.dot-indicators>[aria-selected="true"] {
    background-color: var(--clr-white);
}

.number-indicators {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.number-indicators>[aria-selected="true"] {
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

.number-indicators>* {
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid color.adjust($clr-white, $alpha: -0.75);
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 0.25em;
    cursor: pointer;
    flex: 0 0 2em;
}


.number-indicators>*:hover {
    border-color: color.adjust($clr-white, $alpha: 1);
}

/* ------------- */
/* Page specific */
/* ------------- */

/* home */

/* Destinations */

.destination-tab-pane dl {
    justify-content: center;
    grid-auto-flow: row;
    padding-top: 2rem;
    border-top: 1px solid color.adjust($clr-white, $alpha: -0.75);
}

.destination-tab-pane dd {
    margin-inline-start: 0;
    font-size: 1.75rem;
}

/* ----------- */
/* Layout      */
/* ----------- */

.numbered-title {
    grid-area: title;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

/* home layout */

.grid-container--home {
    --container-gap: 1rem;
}

.grid-container--home h1 {
    text-wrap: nowrap;
}

.grid-container--home h1>span {
    margin-block: 1.5rem;
}

/* crew layout */

.grid-container--crew {
    grid-template-areas:
        "title"
        "content";
    grid-template-rows: min-content 1fr;
    align-items: start;
}

.crew-gallery-content {
    justify-items: center;
    grid-template-rows: 15rem min-content 1fr;
    grid-template-areas:
        "article"
        "indicators"
        "image";
}

.crew-gallery-content header {
    text-wrap: nowrap;
}

.crew-gallery-content article {
    max-width: 50ch;
}

.crew-gallery-content article {
    grid-area: article;
    align-self: center;
}

.crew-gallery-content picture {
    grid-area: image;
    min-width: 10em;
    border-bottom: 1px solid color.adjust($clr-white, $alpha: -0.9);
    display: flex;
    justify-content: flex-end;
}

.crew-gallery-content .dot-indicators {
    --gap: 3rem;
    grid-area: indicators;
    justify-content: center;
}

.crew-gallery-content p {
    max-width: 70ch;
}

.mask-effect {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%);
}

/* destination layout */

.grid-container--destinations {
    grid-template-rows: minmax(5vh, 6rem) min-content min-content 1fr;
    row-gap: 2rem;
    align-items: start;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";
}

.grid-container--destinations>picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
}

.grid-container--destinations>.tab-list {
    grid-area: tabs;
}

.grid-container--destinations>.destination-tab-pane {
    grid-area: content;
}

/* technology */

.grid-container--technology {
    --flow-space: 2rem;
    padding: 0;
    grid-template-rows: repeat(3, auto) 1fr;
    align-items: start;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";
}

.grid-container--technology article {
    grid-area: content;
}

.grid-container--technology .number-indicators {
    grid-area: tabs;
}

.grid-container--technology picture {
    grid-area: image;
    overflow: hidden;
    width: 100vw;
    max-height: 25rem;
}

.grid-container--technology img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid-container--technology picture{
    aspect-ratio: 16/9;
}

@media (min-width: 768px) {

    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-tab-pane dl {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        grid-auto-flow: column;
        align-items: start;
        column-gap: min(6vw, 6rem);
        row-gap: 0;
    }
    
    .grid-container--destinations>picture {
        max-width: 90%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .grid-container--destinations>picture {
        max-width: 25%;
    }
    .grid-container--technology picture{
        aspect-ratio: 16/7;
    }
    .grid-container--technology>h1{
        margin-inline: 2rem;
    }
}

@media (min-width: 1440px) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
    }

    .grid-container--home>*:first-child {
        grid-column: 2;
    }

    .grid-container--home>*:last-child {
        grid-column: 3;
        place-self: end;
    }

    .grid-container--home {
        padding-bottom: 11rem;
        place-content: end;
    }

    .grid-container--destinations {
        justify-items: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .destination-tab-pane dl {
        justify-content: space-evenly;
    }

    .crew-gallery-content .dot-indicators {
        margin-bottom: 2rem;
        align-self: start;
    }

    .grid-container--crew {
        --container-gap: 1rem;
        row-gap: 2rem;
        grid-template-areas:
            ". title . ."
            ". content content .";
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-auto-flow: row;
        align-items: start;
    }

    .grid-container--crew picture {
        align-self: end;
    }

    .crew-gallery-content {
        grid-area: content;
        align-items: end;
        justify-items: start;
        grid-template-columns: minmax(0, 40rem) minmax(0, 25rem);
        grid-template-rows: 30rem min-content;
        grid-template-areas:
            "article image ."
            "indicators image .";
    }

    .grid-container--technology>.number-indicators {
        flex-direction: column;
    }

    .grid-container--technology {
        align-items: center;
        padding-inline: 0;
        grid-template-columns: minmax(5vw, 10vw) min-content auto max-content;
        grid-template-areas:
            ". title title title"
            ". tabs content image";
    }

    .grid-container--technology picture {
        justify-self: start;
        width: auto;
        aspect-ratio: 1;
    }
}
