<div class="crew-gallery-content grid">
    {{ range $i, $value := .Site.Data.data.crew }}
    <article id="tab-{{ $i }}" class='flow' role="tabpanel" {{ if (ne $i 0) }}hidden{{ end }}>
        <header class="flow flow--space-small">
            <h2 class="fs-600 text-white-alpha uppercase ff-serif">{{ $value.role }}</h2>
            <p class="fs-700 text-white uppercase ff-serif">{{ $value.name }}</p>
        </header>
        <p class="text-accent">{{ $value.bio }}</p>
    </article>
    {{ end }}
    <div id="dots-tab-list" class="dot-indicators flex" role="tablist" aria-label="crew member list">
        {{ range $i, $value := .Site.Data.data.crew }}
        <button id="button-{{ $i }}" aria-selected='{{ cond (eq $i 0) "true" "false" }}' aria-controls="tab-{{ $i }}"
            tabindex='{{ cond (eq $i 0) "0" "-1" }}' data-image="image-{{ $i }}">
            <span class="sr-only">{{ .name }}</span>
            <script>
                me().on("click", async (event) => {
                    let self = me(event)
                    let other = me('[aria-selected="true"]')
                    if (self == other) return
                    let controls = self.attribute('aria-controls')
                    let fadingOut = any(`[role="tabpanel"]:not(#${controls}), picture:not(#${self.dataset.image})`)
                    let fadingIn = any(`#${controls}, #${self.dataset.image}`).attribute('hidden', null).classAdd('fade-in')
                    fadingIn.classAdd('fade-in').attribute('hidden', null)
                    fadingOut.classAdd('fade-out')
                    await sleep(250)
                    other.attribute('aria-selected', false)
                    self.attribute("aria-selected", "true")
                    fadingOut.attribute('hidden', true).classRemove('fade-out')
                })
            </script>
        </button>
        {{ end }}
    </div>
    {{ range $i, $value := .Site.Data.data.crew }}
    <picture id="image-{{ $i }}" {{ if (ne $i 0) }}hidden{{ end }} class="mask-effect">
        <source srcset="{{ $value.images.webp }}" alt="{{ $value.name }}" type="image/webp">
        <img src="{{ $value.images.png }}" alt="{{ $value.name }}" class=''>
    </picture>
    {{ end }}
</div>
<script>
    me('#dots-tab-list').on("keydown", Site.tabsKeyboardHandler)
</script>