<div class="crew-gallery-content grid">
    {{ range $i, $value := .Site.Data.data.crew }}
    <article id="tab-{{ $i }}" class='flow' role="tabpanel" {{ if (ne $i 0) }}hidden{{ end }}>
        <header class="flow flow--space-small">
            <h2 class="fs-600 text-white-alpha uppercase ff-serif">{{ $value.role }}</h2>
            <p class="fs-700 text-white uppercase ff-serif">{{ $value.name }}</p>
        </header>
        <p class="text-accent">{{ $value.bio }}</p>
    </article>
    <picture id="image-{{ $i }}" {{ if (ne $i 0) }}hidden{{ end }}>
        <source srcset="{{ $value.images.webp }}" alt="{{ $value.name }}" type="image/webp">
        <img src="{{ $value.images.png }}" alt="{{ $value.name }}" class=''>
    </picture>
    {{ end }}
    <div id="crew-dot-indicators" class="dot-indicators flex">
        {{ range $i, $value := .Site.Data.data.crew }}
        <button id="button-{{ $i }}" aria-selected='{{ cond (eq $i 0) "true" "false" }}'
            aria-controls="tab-{{ $i }}" data-image="image-{{ $i }}">
            <span class="sr-only">{{ .name }}</span>
            <script>
                me().on("click", async (event) => {
                    let self = me(event)
                    let other = me('[aria-selected="true"]')
                    any(`#${other.attribute('aria-controls')}, #${other.dataset.image}`).classAdd('fade-out')
                    other.attribute('aria-selected', false)
                    any(`#${self.attribute('aria-controls')}, #${self.dataset.image}`).classAdd('fade-in').attribute('hidden', null)
                    await sleep(250)
                    any(`#${other.attribute('aria-controls')}, #${other.dataset.image}`).attribute('hidden', true).classRemove('fade-out')
                    other.attribute("aria-selected", "false")
                    self.attribute("aria-selected", "true")
                })
            </script>
        </button>
        {{ end }}
    </div>
</div>