{{ range $index, $item := .Site.Data.data.destinations }}
<picture {{ if (ne $index 0) }}hidden{{ end }} data-image="{{ $item.name }}">
    <source srcset="{{ $item.images.webp }}" type="image/webp">
    <img src="{{ $item.images.png }}" alt="{{ $item.name }}">
</picture>
{{ end }}
<div id="destination-tab-list" class="tab-list underline-indicators flex" role="tablist" aria-label="destination list">
    {{ range $index, $item := .Site.Data.data.destinations }}
    <button class="tablink uppercase ff-sans-cond text-accent letter-spacing-2" role="tab" name="{{ .name }}"
        aria-controls="tab-{{ .name }}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
        tabindex="{{ if eq $index 0 }}0{{ else }}-1{{ end }}">
        {{ $item.name }}
        <script>
            me().on("click", async (event) => {
                let self = me(event)
                any('[role="tabpanel"]:not([hidden]), picture').classAdd('fade-out')
                any('.tablink').attribute('aria-selected', false)
                await sleep(250)
                self.attribute('aria-selected', true)
                any('[role="tabpanel"], picture').attribute('hidden', true).classRemove('fade-out')
                any(`#${self.attribute('aria-controls')}, [data-image="${self.name}"]`).attribute('hidden', null).classAdd('fade-in')
            })
        </script>
    </button>
    {{ end }}
</div>
<script>
    me('#destination-tab-list').on("keydown", Site.tabsKeyboardHandler)
</script>